<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>es 6</p>
<p>慕课网</p>
<p>快乐</p>
<script src="/js/index.js" charset="utf-8"></script>
</body>
</html>